<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>事件列表</title>
    <script src="../js/jquery-3.5.1.min.js"></script>
</head>
<body>
    <h3>Events</h3>
    <hr/>
    <div id='list'></div>  
    <script>
        /**/
      $(function(){
      $.ajax({
      url:'../data/eventlist.html',
      type:'get',
      dataType:'json',
      success:function(data){   
       for(i in data.data)
       {
        var tr;
        tr='<span style="color: gray;">'+ data.data[i].FDate+ '</span> <a href="'+data.data[i].Url+'" target="_blank">'+data.data[i].Title+'</a><br/><br/>';
        $("#list").append(tr);
       }
      }
     })
    })
    </script>
</body>
</html>